.main{
    flex-grow: 1;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.image-result-container{
    width: 100%;
    height: auto;
    min-height: 600px;
    min-width: 420px;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 2vh;
    display: flex;
}

.image-show-container {
    flex: 70;

    justify-items: center;
    align-items: center;
    display: flex;
    min-width: 600px;
}
.show-image{
    width: 80%;
    height:80%;
    background: #e0e0e0;
    margin-left: 2%;
    justify-items: center;
    align-items: center;
    position: relative;
    display: flex;
}
.image-display{
    width: 80%;
    height: 80%;
    justify-items: center;
    align-items: center;

    margin: auto;
    position: relative;

}

.show-icon{
    width: 18%;
    height:80%;
    flex-direction: column;
    place-items: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    min-width: 200px;

}



.wrapper .button{
    display: block;
    height: 50px;
    width: 40%;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    margin-top: 10%;
    user-select: none;


}
.wrapper .button:hover{
    width: 100%;

}
.wrapper .button .icon{
    display: inline-block;
    height: 50px;
    width: 70px;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;

}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 10px;
    transition: all 0.3s ease-out;

}
.wrapper .button:hover .icon i{
    color: #fff;
}
.icon-introduce{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    margin-right: 10px;
    text-align: center;
    justify-items: center;
}



.result-container {
    flex: 30;
    min-width: 300px;
    text-align: center;
    justify-items: center;
    display: flex;

}
.show-result{
    width: 80%;
    min-height: 800px;
    text-align: center;
    justify-items: center;
    display: flex;
    margin: auto;

    position: relative;
    align-items: center;
}

@media (max-width: 887px) {
    .image-result-container{
        flex-direction: column;
        align-items: center;

    }
    .image-show-container,
    .result-container {
        width: 80%;
        min-height: 500px;
        margin-top: 30px;
    }
}
.warpper-wait{
    width: 180px;
    height: 180px;
    border: 20px solid black;
    text-align: center;
    border-bottom-color: rgba(0, 0, 0,0);
    border-radius: 50%;
    animation: rot1 2s linear infinite;
    text-align: center;
    justify-items: center;
    display: flex;
    margin: auto;
    position: relative;
    top: 0; /* 或者是需要的确切位置 */
    left: 0;

}
.content{
    width: 100px;
    height: 100px;
    border: 20px solid gold;
    margin: 18px;
    border-top-color: rgba(0, 0, 0,0);
    border-radius: 50%;
    animation: rot2 1s linear infinite;
}
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: stay-still 2s linear infinite;
    font-size: 40px;
    color: #C4362E;
    font-weight: bolder;
}
@keyframes stay-still {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(-360deg); }
}
@keyframes rot1{
    form{transform: rotateZ(0deg);} to{transform: rotateZ(360deg);}
}

@keyframes rot2{
    form{transform: rotateZ(0deg);} to{transform: rotateZ(-360deg);}
}


.result{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 100%;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    display: none;
    flex-direction: column;
}
.analysis-result {
    width: 97%;
    height: 32%;
    margin-bottom: 3%;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2%;
    border: 2px solid #00467F;
    border-radius: 10px;

}

.header{
    width: 100%;
    height: 25%;
    font-weight: bolder;
    color: #00467F;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #00467F;
}
.chart{
    width: 100%;
    height: 69%;
    margin-top: 6px;

    flex-direction: row;
    justify-items: center;
    align-items: center;
    display: flex;

}
.progress-circle{
    width: 33%;
    height: 90%;

    flex-direction: column;
}

.circular-chart {
    display: block;
    width: 100%;
    height: 75%;
    margin-bottom: 5%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
}

.circle {
    fill: none;
    stroke-width: 2.5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.percentage {
    font-size: 0.6em;
    text-anchor: middle;
}

/* 动画效果 */
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
.label{
    width: 100%;
    height: 15%;
    font-size: 15px;
    color: #00467F;
}


.signal-result {
    height: 32%;

    margin-bottom: 3%;
    width: 97%;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2%;
    border: 2px solid #00467F;
    border-radius: 10px;
}
.signal{
    width: 40%;
    height: 80%;
    margin-left:5%;
}

.result-button-container {
    width: 100%;
    height: 32%;

    margin-bottom: 3%;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.result-button{
    width: 80%;
    height: 22%;
    margin: auto;
}


.analysis-button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #1a73e8;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}
.analysis-button-color{
    color: #ffffff;
}
.analysis-button-background-color{
    background-color: #1a73e8;
}
.analysis-button-color:hover{
    color: #1a73e8;
}
.analysis-button-background-color:hover{
    background-color: #ffffff;
}

.analysis-button.no-selection {
    background-color: #1a73e8;
    color: white;
}

.home-button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #00467F;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}
.home-button-color{
    color: #ffffff;
}
.home-button-background-color{
    background-color: #00467F;
}
.home-button-color:hover{
    color: #00467F;
}
.home-button-background-color:hover{
    background-color: #ffffff;
}

.home-button.no-selection {
    background-color: #C4362E;
    color: white;

}


.report-button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #C4362E;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}
.report-button-color{
    color: #ffffff;
}
.report-button-background-color{
    background-color: #C4362E;
}
.report-button-color:hover{
    color: #C4362E;
}
.report-button-background-color:hover{
    background-color: #ffffff;
}

.report-button.no-selection {
    background-color: #C4362E;
    color: white;

}



.bottom-navigation-bar{
    width: 100%;
    height: 8vh;
    background: #333333 ;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    position: relative;
    min-height: 70px;
}
.connect-container{
    height: 60%;
    width: 500px;
    background: #404040;
    position: absolute;
    top: -30%;
    display: inline-block;
    right: 0;
    z-index: 1;
}
.accessibility-container{
    height: 50%;
    bottom: 0;
    background:#333333;
    position: absolute;
    width: 100%;
}
.connect-table th, .connect-table td {
    padding: 8px;
    text-align: center;
}

.connect-table th:first-child, .connect-table td:first-child {
    width: 30%;
}

.connect-table th:not(:first-child), .connect-table td:not(:first-child) {
    width: 16%;
}
.accessibility{
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
}
.site-link1,
.site-link,
.disclaimer-text {
    margin: 0 10px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 10px;
    opacity: 0.7;
}

.site-link1:hover, .disclaimer-text:hover{
    border-bottom: 1px solid #ffffff;
}



