h2{
    padding: 20px;
    color: #00467F;
    font-size: 3vh;
}
p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1vh;
    color: #00467F;
}
form{
    padding-left: 20px;
    padding-right: 20px;
}
.feedback-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3%;
}
.feedback-form h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.form-group {
    margin-top: 25px;
    margin-bottom: 25px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00467F;
    color: white;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #009AC9;
}
.form-group input[type="radio"] {
    margin-right: 5px;
}