.main-content-container {
    width: 95%;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.drop-show-metadata-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5%;
    justify-content: space-between;
    margin-bottom: 5%;

}

.drop-box-container {
    width: 30%;
    height: 80%;
    min-width: 300px;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;

}

.show-metadata {
    width: 60%;
    height: 100%;
    min-width: 420px;
    border: 2px dashed #00467F;
}

.container {
    height: 100%;
    width:80%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.photo {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.drop-form {
    border-radius: 20px;
    text-align: center;
    font-size: 1.125rem;
    width: 100%;
    height: 100%;
}


#file-input {
    width: 95%;
    color: #444;
    margin-left: 2.5%;
    background: #fff;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
    height: 8%;
    margin-top: 3%;
}

#file-input::file-selector-button {
    border: none;
    background: #00467F;
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
    background: #00467F;
}

.drop-box {
    flex: 1;
    width: 90%;
    margin-left: 5%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.drop-box svg {
    height: 150px;
}
.drop-box svg path {
    stroke: #3FBE94;
}

.drop-box p {
    text-align: center;
    color: #8B8E98;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.show-metadata-container{
    width: auto;
    height: auto;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    max-width: 1000px;
    margin-bottom: 1%;
}
.metadata-item{
    height: 100%;
    width: 45%;
}
.image-information-container{
    height: 47%;
    width: 100%;
    margin-bottom: 2%;
}
.image-header{
    font-weight: bold;
    height: 16%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    color: #00467F;
}

.image-box {
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
.box-title{
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9e9e9e;
}
.box-content{
    width: 70%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9e9e9e;
}
.camera-information-container{
    height: 51%;
    width: 100%;
}
.camera-header{
    font-weight: bold;
    height: 13.9%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    color: #00467F;

}

.camera-box {
    height: 12.3%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
.choice{
    width: 100%;
    height: 45%;
    margin-top: -15%;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.gray {
    background-color: #eeeeee;
}

.white {
    background-color: white;
}

.choice-title{
    width: 100%;
    height: 20%;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #00467F;

}

.switch-container{
    width: 100%;
    height: 33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 2%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Off state color */
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #C4362E; /* On state color */
}

input:focus + .slider {
    box-shadow: 0 0 1px #C4362E;
}

input:checked + .slider:before {

    left: calc(100% - 16px - 4px);
    background-color: white;
    transition: .4s;
}

.switch-container::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% - 10%);
    height: 1px;
    background: #9e9e9e;
    transform: translateX(-50%);
}

.switch-container:last-child::after {
    display: none;
}

.analysis-button-container{
    width: 100%;
    display: flex;
    height: 17%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.analysis-button{
    width: 70%;
    height: 40px;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #00467F;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}
.analysis-button-color{
    color: #ffffff;
}
.analysis-button-background-color{
    background-color: #00467F;
}
.analysis-button-color:hover{
    color: #00467F;
}
.analysis-button-background-color:hover{
    background-color: #ffffff;
}

.analysis-button.no-selection {
    background-color: #C4362E;
    color: white;

}
@media (max-width: 887px) {
    .drop-show-metadata-container{
        flex-direction: column;
        align-items: center;

    }
    .drop-box-container,
    .show-metadata {
        width: 80%;
        height: auto;
        margin-top: 30px;
    }
}

.image-show-container {
    flex: 70;

    justify-items: center;
    align-items: center;
    display: flex;
    min-width: 600px;
}
.show-image{
    width: auto;
    height:auto;
    background: #e0e0e0;
    justify-items: center;
    align-items: center;
    position: relative;
    display: flex;
    overflow: scroll;
}
.image-display{
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.show-icon{
    width: 15%;
    height:80%;
    flex-direction: column;
    place-items: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    min-width: 200px;

}
.wrapper .button{
    display: block;
    height: 50px;
    width: 40%;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    margin-top: 10%;
    user-select: none;


}
.wrapper .button:hover{
    width: 100%;

}
.wrapper .button .icon{
    display: inline-block;
    height: 50px;
    width: 70px;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;

}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 10px;
    transition: all 0.3s ease-out;

}
.wrapper .button:hover .icon i{
    color: #fff;
}
.icon-introduce{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-out;
    margin-right: 10px;
    text-align: center;
    justify-items: center;
}