body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    min-height:100vh;
    display: flex;
}

.container {
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    /*margin-bottom: 3%;*/
    flex: 1;
}

.form_container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 40px 20px 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
}

.logo_container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(248, 248, 248, 0)), to(#F8F8F888));*/
    /*background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);*/
    background: #00467F;
    border: 1px solid #F7F7F8;
    -webkit-filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
}

.title_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
}

.subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98
}
.wrong-prompt{
    width: 350px;
    height: 50px;
    background: #C4362E;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: -20px;
    display: none;
}
.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
}

.input_label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    -webkit-filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    -webkit-transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #242424;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.tooltip {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 10px;
    z-index: 1;
    /*display: none;*/
    width: 170px;
    border: 2px solid #C4362E;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.8rem;
    color: #C4362E;
    display: none;
}
.tooltip::before {
    content: "";
    position: absolute;
    top: -16px;  /* Size of the triangle */
    left: 15px;  /* Positioning the triangle to the left */
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid ;
    z-index: -1;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: -10px;  /* One pixel inside the bigger triangle */
    left: 15px;  /* Matching position with the bigger triangle */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid ;
    z-index: 0;
}

.sign-in_btn {
    width: 40%;
    height: 40px;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #00467F;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}
.sign-in-button-color{
    color: #ffffff;
}
.sign-in-button-background-color{
    background-color: #00467F;
}
.sign-in-button-color:hover{
    color: #00467F;
}
.sign-in-button-background-color:hover{
    background-color: #ffffff;
}

.sign-in_btn:hover .fa-chevron-right{
    animation: move-right 0.7s infinite linear;
}
@keyframes move-right {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(4px);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(-4px);
    }

}
#change_password {
    font-size: 0.75rem;
    color: #8B8E98;
    margin: 0;
    align-self: flex-end;
    text-align: right;
}

#change_password:hover {
    border-bottom: 1px solid black;
}

.separator {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
}

.separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.sign-in-other-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.other-button{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.other-button span {
    font-size: 16px;
    line-height: 25px;  /* 和SVG的高度一样 */
    margin-left: 8px;  /* 和SVG之间的间隔 */
}
.other-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.other-button:hover {
    color: #e8e8e8;
}

.other-button:hover::before {
    width: 100%;
}

.sign-up-p{
    font-size: 0.8rem;
    color: #8B8E98;
}

#sign-up-button{
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.privacy-container {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.heading-container {
    display: inline-block;  /* Changed to inline-block */
    position: relative;
}

.heading-container h3 {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #00467F;
    opacity: 0.7
}

.privacy-container p {
    font-family: "Inter", sans-serif;
    color: #00467F;
    opacity: 0.7;
    font-size: 0.8rem;
}
.heading-container::after {
    content: "";
    position: absolute;
    left: 0;
    /*bottom: -10px;  !* Move the line further down *!*/
    width: 100%;  /* Make it the full width of the .heading-container */
    height: 1px;
    background-color: #ffffff;
    /*margin-top: 5px;  !* Add space between the line and the text *!*/
}


.bottom-navigation-bar{
    width: 100%;
    height: 80px;
    background: #333333 ;
    display: flex;
    flex-direction: column;
    position: relative;
}
.connect-container{
    height: 60%;
    width: 500px;
    background: #404040;
    position: absolute;
    top: -30%;
    display: inline-block;
    right: 0;
    z-index: 1;
}
.accessibility-container{
    height: 50%;
    bottom: 0;
    background:#333333;
    position: absolute;
    width: 100%;
}
.connect-table th, .connect-table td {
    padding: 8px;
    text-align: center;
}

.connect-table th:first-child, .connect-table td:first-child {
    width: 30%;
}

.connect-table th:not(:first-child), .connect-table td:not(:first-child) {
    width: 16%;
}
.accessibility{
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
}
.site-link1,
.site-link,
.disclaimer-text {
    margin: 0 10px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 3px;
    opacity: 0.7;
}

.site-link1:hover, .disclaimer-text:hover{
    border-bottom: 1px solid #ffffff;
}
