body {
    margin: 0;
    padding: 0;

}
.top-title{
    width: 100%;
    height:30px;
    background: #009AC9;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    display: flex;
}
.top-title p{
    text-align: center;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.top-title p:hover {
    text-decoration: underline;
}
.navigation-bar-container{
    width: 100%;
    height: 130px;
    /*background: #00467F;*/
    position: relative;

}
.navigation-bar-top{
    width: 100%;
    height: 65px;
    background: #eeeeee;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.search-container{
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-left: 20%;
}

.info-panels {
    --color-icon: #fff;
    --color-input: #ccc;
    --color-border: #9e9e9e;
    --color-border-hover: #1a73e8;
    --all-transition: all .2s ease-out;
    --input-focus-opacity: .3;
    width: 100%;
}
.input-color-group-one {
    position: relative;
}
.search-input {
    width: 60%;
    border: 1.5px solid #00467F;
    border-radius: 30px;
    background: white;
    margin-left: 20%;
    font-size: 1rem;
    transition: var(--all-transition);
    height: 30px;
    min-width: 120px;
    padding: 4px;
}
.search-input::placeholder {
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2e2e2e;
}
.search-input:focus {
    color: var(--color-input);
    outline: none;
    border: 1.5px solid var(--color-border-hover);
}
.search-input:valid {
    color: #00467F;;
    outline: none;
}
.search-input::-webkit-input-placeholder {
    color: var(--color-input);
}
.search-input::-moz-input-placeholder {
    color: var(--color-input);
}
.search-input::-ms-input-placeholder {
    color: var(--color-input);
}
.search-input:focus::-webkit-input-placeholder, .search-input:valid::-webkit-input-placeholder {
    opacity: var(--input-focus-opacity);
}
.search-input:focus::-moz-input-placeholder, .search-input:valid::-moz-input-placeholder {
    opacity: var(--input-focus-opacity);
}
.search-input:focus::-ms-input-placeholder, .search-input:valid::-ms-input-placeholder {
    opacity: var(--input-focus-opacity);
}
.search-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 0 5px;
    border: 1.5px solid #00467F;
    border-radius: 20px;
    top: -9px;
    left: 25%;
    background-color: #00467F;
    cursor: default;
    backdrop-filter: blur(10px);
    transition: var(--all-transition);
    font-size: 12px;
}

.search-input:focus ~ .color-label, .search-input:valid ~ .search-label {
    color: var(--color-border-hover);
    border: 1.5px solid var(--color-border-hover);
}
.search-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
    top: -13px;
    right: 25%;
    left: 70%;
    background-color: transparent;
    background: #00467F;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: var(--all-transition);
}
.search-button:hover {
    background-color: #C4362E;
    transform: scale(1.2);
}
.search-button:active {
    transform: scale(1.1);
}
.search-input:focus ~ .search-button {
    border: 1.5px solid #C4362E;
}
.search-input:valid .search-input:focus ~ .search-button  {
    border: 1.5px solid #C4362E;
}
.search-input:focus ~ .search-button:hover {
    background-color: #C4362E;
}
.search-button:hover {
    fill: var(--color-icon);
}
.search-input:focus ~ .search-button {
    fill: var(--color-border-hover);
}
.search-input:focus ~ .search-button:hover #icon-btn-copy, .search-input:valid ~ .search-button:hover{
    fill: var(--color-icon);
}


.login-container{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    right: 5%;
}
.sign-icon {
    margin-top: 10px;
}
.sign-icon i {
    transition: color 0.3s;
    color: #00467F;
}
.sign-text {
    margin-top: 1px;
    font-size: 14px;
    transition: color 0.3s;
}

.login-container:hover .sign-icon i {
    color: #C4362E;
}

.login-container:hover .sign-text {
    color: #C4362E;
}

.sign-in-content {
    /*display: none;*/
    width: 250px;
    min-width: 100px;
    background: white;
    border: 1px solid #00467F;
    top: 105px;
    right: 13%;
    z-index: 3;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    position: fixed;
    display: none;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hide-content {
    display: none !important;
}
@keyframes slide-bottom {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.content-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #00467F;
    position: absolute;
    top: -15px;
    left: 80%;
    transform: translateX(-50%);
}

.content-section {
    padding-top:7.5px;
    padding-left: 15px;
    display: flex;
    margin-bottom: 0;
    height: 30px;
    font-size: 14px;
    color: #00467F;

}

.divider {
    width: 100%;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 0;
}
#show-name{
    background: #00467F;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;

}
.fa-right{
    margin-left: 20%;
    margin-top: 1%;
    font-size: 10px;
}
#change-password:hover, #edit-profile:hover {
    animation: move-right 0.25s forwards;
}
@keyframes move-right {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(3px);
    }
    50%{
        transform: translateX(6px);
    }
    75%{
        transform: translateX(9px);
    }
    100%{
        transform: translateX(12px);
    }
}
.sign-out-button {
    width: 55%;
    height: 35px;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 2px solid #00467F;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
    margin-top: 7px;
    background: #ffffff;
}
.sign-out-button-color{
    color: #00467F;
}

.sign-out-button-color:hover{
    color: #ffffff;
}
.sign-out-button-background-color:hover{
    background-color: #00467F;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #00467F;
    bottom: 15.5px;
    left: 5%;
    clip-path: polygon(25% 0%, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
    z-index: 3;
}
.language-change {
    position: relative;
    right: 3%;
    cursor: pointer;
    padding: 0 10px;
    display: inline-flex;
    align-items: center;
    background: #00467F;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    color: #ffffff;
    font-size: 8px;
    z-index: 3;
}
.language-change:hover{
    background: #C4362E;
}
#language-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #009AC9; ;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    font-size: 1rem;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#language-options li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    color: #00467F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#language-options li:last-child {
    border-bottom: none;
}
#language-options li:hover {
    background-color: #00467F;
    color: white;
}
.hidden {
    display: none;
}

.navigation-bar-bottom{
    width: 100%;
    height: 65px;
    display: flex;
    text-align:center;
    position: relative;
}
#mcmenu
{
    width:70%;
    display: inline-block;
    text-align:center;
    z-index: 2;
    margin-left: 15%;
    height: 100%;
    position: static;
}

#mcmenu ul
{
    width:100%;
    height: 100%;
    text-align:center;
    color:#00467F;
    border: transparent;
    margin:0;
    padding:0;
    position: static;
    z-index:3;
    border-radius: 3px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#mcmenu a {
    text-decoration: none;
    color: #00467F;
}

#mcmenu li
{
    display:flex;
    position:relative;
    font-size:1.1rem;
    font-weight: bolder;
    text-decoration: none;
    margin:0;
    padding:0;
    width:13% ;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;  /* Add this line */
}
#mcmenu li a:hover{
    border-bottom: 4px solid #00467F;
    display: inline-block;
    line-height: 1.5;
}
.full-width span{
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    white-space: nowrap;  /* Add this line */
}

.full-width span:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 4px;
    background-color: #00467F;
}

/*Sub level items
---------------------------------------*/
#mcmenu li.full-width {
    position: relative;
}

#mcmenu li.full-width .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    font-family:inherit;
    color: #00467F;

    background-color: rgba(238, 238, 238, 0.8);
    display:none;
    cursor:default;

    white-space: nowrap;  /* Add this line */
}
#mcmenu .dropdown li {
    display: block;
}
#mcmenu .clm a, #mcmenu .clm h3
{
    font-size:18px;
    font-weight:400;
    font-family:inherit;
    margin:0;
    padding:8px 20px;
    display:block;
    color:inherit;
    text-decoration:none;
}
#mcmenu .clm h3 {
    font-size:20px;
    font-weight:700;
    color: #009AC9;
}

#mcmenu .clm a:hover
{
    color:#000000;
    transition:color 0.2s;
}

#mcmenu li.full-width{
    position:static;
}
#mcmenu li.full-width .dropdown{
    width:100%;
    left:0;
    box-sizing:border-box;
}
#mcmenu li.full-width:hover .dropdown {
    display: block;
}
#mcmenu ul.dropdown
{
    min-width:240px; /* Sub level menu min width */
}
#mcmenu div.dropdown  {
    text-align:center;
}

/* each column */
#mcmenu .clm
{
    text-align:left;
    margin:20px;
    vertical-align:top;/*or middle*/
    width:auto;
    min-width:240px;
    display:inline-block;
    *display:inline;*zoom:1;
}

#mcmenu .clm a:hover
{
    color:#000000;
}

#menu-community span{
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    white-space: nowrap;  /* Add this line */
}

#menu-community span:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 4px;
    background-color: #00467F;
}
#menu-community .right0 {
    position: absolute;
    top: 100%;  /* Position below the parent */
    /* Align left to the parent */
    /*background: #C4362E;*/
    border-radius: 5px;
    transition: opacity 0.3s;
    display: none; /* Initially hide the dropdown */
    z-index: 6;  /* Ensure dropdown appears above other elements */
    height: auto;
    width: auto;
    background-color: rgba(238, 238, 238, 0.8);
}
#menu-community .right0 li{
    width: 100%;
}

/* Hover state to display dropdown */
#menu-community:hover .right0 {
    display: block;
}

/* Additional styles to make it visually appealing */
#menu-community .right0 a {
    padding: 10px;
    color: #00467F;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: normal;
}

#menu-community .right0 a:hover {
    background-color: #00467F;
    color: #FFFFFF;
}

/* Adjust second level dropdown */
#menu-community .right0 > li > ul.right1 {
    position: absolute; /* Set the position of the second dropdown */
    left: -100%; /* Position it to the left of its parent */
    top: 0; /* Align to the top of its parent */
    display: none;
    border-radius: 5px;
}
#menu-community .right0 > li > ul.right1 li{
    width: 100%;
    height: auto;
    background-color: rgba(238, 238, 238, 0.8);
}
/* Hover state to display second level dropdown */
#menu-community .right0 > li:hover > ul.right1 {
    display: block;
}

@media (max-width: 1000px) and (min-width: 700px) {
    #mcmenu li {
        flex-basis: calc(33.33% - 10px);
    }
    #mcmenu li.full-width .dropdown {
        top: 180%;
        overflow-x: hidden;
    }
    .navigation-bar-container{
        height: 180px;
    }
    #menu-community .right0{
        top:80%
    }
}

@media (min-width: 700px) and (max-width: 920px) {
    .background-gallery {
        display: none !important;
    }
}

.menu-icon-wrapper {
    padding: 5px;
    width: 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 27%;
    margin-top: 2%;
    display: none;
    flex: 0 0 auto;
}

.three-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 100%;
}

.three-line span {
    height: 4px;
    width: 30px;
    background: black;
    transition: all 0.3s ease-in-out;
}

.three-line.cross span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.three-line.cross span:nth-child(2) {
    opacity: 0;
}

.three-line.cross span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.sidebar {
    flex: 0 0 400px;
    transition: 0.5s;
    z-index: 30;
    height: 300px;
    display: none;
    margin-top: 65px;
    margin-left: -160px;
}

.sidebar a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    font-weight: normal;
}

.sidebar .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.main-menu {
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    text-align: left;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}
.main-menu a{
    width: 370px;
    height: 50px;
    display:flex;
    padding-left: 30px;
    align-items: center;
    border-bottom: 1px solid #9e9e9e;
    color: #00467F;
    font-weight: bolder;
}
.main-menu a:last-child {
    border-bottom: none;
}
.color-home{
    background: #0080A7;
    color: #FFFFFF !important;
}

.submenu{
    width: 400px;
    height: 750px;
    display: none;
    background-color: #FFFFFF;
    position: relative;
    top: 0;
}
.submenu-div1{
    height: 7%;
    background: #00467F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #FFFFFF;
}

.submenu-div1 span {
    letter-spacing: 3px;
}

.submenu-div2 {
    height: 23%;
    margin-top: 2%;
    border-bottom: 2px solid #9e9e9e;
}
.submenu-div2 h3{
    margin-top: 3px;
    color: #0080A7;
}
.submenu-div2 a{
    margin-top: 15px;
    color: #00467F;
    font-size: 18px;
}
.submenu-div3{
    height: 34%;
    margin-top: 3%;
    border-bottom: 2px solid #9e9e9e;
}
.submenu-div3 h3{
    margin-top: 6px;
    color: #0080A7;
}
.submenu-div3 a{
    margin-top: 8px;
    color: #00467F;
    font-size: 18px;
}
.submenu-div4 {
    height: 30%;
}
#gallery-submenu a:hover{
    text-decoration: underline 2px #00467F;
}
.submenu1{
    width: 400px;
    height:600px;
    display: none;
    background-color: #FFFFFF;
    position: relative;
    top: 0;
}
.submenu1-div1{
    height: 10%;
    background: #00467F;
}
.submenu1-div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #FFFFFF;
}
.submenu1-div1 span {
    letter-spacing: 3px;
}

.submenu1-div5 {
    height: 33%;
    margin-top: 2%;
    border-bottom: 2px solid #9e9e9e;
}
.submenu1-div5 h3{
    margin-top: 3px;
    color: #0080A7;
}
.submenu1-div5 a{
    margin-top: 15px;
    color: #00467F;
    font-size: 18px;
}
.submenu1-div6{
    height: 27%;
    margin-top: 3%;
    border-bottom: 2px solid #9e9e9e;
}
.submenu1-div6 h3{
    margin-top: 6px;
    color: #0080A7;
}
.submenu1-div6 a{
    margin-top: 8px;
    color: #00467F;
    font-size: 18px;
}
.submenu1-div7{
    height: 23%;
    margin-top: 2%;
}
.submenu1-div7 h3{
    margin-top: 6px;
    color: #0080A7;
}
.submenu1-div7 a{
    margin-top: 8px;
    color: #00467F;
    font-size: 18px;
}


.submenu2{
    width: 400px;
    height:350px;
    display: none;
    background-color: #FFFFFF;
    position: relative;
    top: 0;
}
.submenu2-div1{
    height: 16%;
    background: #00467F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #FFFFFF;
}
.submenu2-div1 span {
    letter-spacing: 3px;
}
.submenu2-div8{
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #9e9e9e;
    padding-left: 10px;
    color: #00467F;
}

#gallery-submenu a:hover{
    text-decoration: underline 2px #00467F;
}
#help-submenu a:hover{
    text-decoration: underline 2px #00467F;
}
.submenu2-div8:hover{
    background: #0080A7;
    color: #FFFFFF;
}

@media (max-width: 700px) {
    .menu-icon-wrapper {
        display: flex;
    }
    #mcmenu {
        display: none;
    }
}
@media (min-width: 700px) {
    .menu-icon-wrapper {
        display: none;
    }
    .sidebar{
        display: none;
    }
    #mcmenu {
        display: flex;
    }
}

.drop-show-metadata-container{
    display: flex; /* make this a flex container */
    width: 100%;
    height: 550px;
    margin-top: 5%;
    justify-content: space-between;
    margin-bottom: 5%;

}

.drop-box-container {
    width: 30%;
    height: 80%; /* optional, makes the div fill the parent's height */
    min-width: 300px;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;

}

.show-metadata {
    width: 60%;
    height: 100%; /* optional, makes the div fill the parent's height */
    min-width: 420px;
    border: 2px dashed #00467F;
}

.container {
    height: 100%;
    width:80%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.drop-form {
    border-radius: 20px;
    text-align: center;
    font-size: 1.125rem;
    width: 100%;
    height: 100%;
}


#file-input {
    width: 95%;
    color: #444;
    margin-left: 2.5%;
    background: #fff;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
    height: 8%;
    margin-top: 3%;
}

#file-input::file-selector-button {
    border: none;
    background: #00467F;
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
    background: #00467F;
}

.drop-box {
    flex: 1;
    width: 90%;
    margin-left: 5%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.drop-box svg {
    height: 150px;
}
.drop-box svg path {
    stroke: #3FBE94;
}

.drop-box p {
    text-align: center;
    color: #8B8E98;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.show-metadata-container{
    width: 90%;
    height: 98%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    max-width: 1000px;

}
.metadata-item{
    height: 100%;
    width: 45%;
}
.image-information-container{
    height: 47%;
    width: 100%;
    margin-bottom: 2%;
}
.image-header{
    font-weight: bold;
    height: 16%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    color: #00467F;
}

.image-box {
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
.box-title{
    width: 30%;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9e9e9e;
}
.box-content{
    width: 70%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9e9e9e;
}
.camera-information-container{
    height: 51%;
    width: 100%;
}
.camera-header{
    font-weight: bold;
    height: 13.9%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    color: #00467F;

}

.camera-box {
    height: 12.3%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
.add-description-container{
    width: 100%;
    height: 35%;
    background: #eeeeee;
    display: flex;
    border-radius: 17px 17px 27px 27px;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.gray {
    background-color: #eeeeee;
}

.white {
    background-color: white;
}

.card {
    width: 100%;
    height:100%;

    flex-direction: column;
    display: flex;
}

.title {
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 13px;
    color: #47484b;
    background: white;
}

.title::after {
    content: '';
    width: 8ch;
    height: 1px;
    position: absolute;
    bottom: -1px;
    background-color: #47484b;
}

.comments {
    display: flex;
    padding: 20px;
    height: 30%;
    background: white;
}

.comment-container {
    display: flex;
    padding: 0;
    margin: 0;
}

.comment-container .user {
    display: flex;

}

.comment-container .user .user-pic {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.comment-container .user .user-pic:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: #0fc45a;
    border: 2px solid #ffffff;
}

.comment-container .user .user-info {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 150%;
    margin-left: 5%;
}

.comment-container .user .user-info span {
    font-weight: 700;
    font-size: 12px;
    color: #47484b;
    width: 40%;
    height: 100%;
}

.comment-container .user .user-info p {
    font-weight: 600;
    font-size: 10px;
    color: #acaeb4;
    width: 60%;
    text-align: center;
    display: flex;
    height: 100%;
    margin-top: 0;
}



.text-box {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    margin-bottom: 2.5%;
    height: 55%;
}

.text-box .box-container {
    background-color: #FFFFFF;
    border-radius: 8px 8px 21px 21px;
    width: 100%;
    height: 100%;
}

#contentEditableDiv {
    width: 100%;
    height: 80%;
    resize: none;
    border: 0;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
    caret-color: #0a84ff;
    display: flex;
    z-index: 1;
    padding: 5px;
}

.text-box .formatting {
    display: flex;
    margin-top: -5%;
    margin-left: 5%;

}

.text-box .formatting button {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    outline: none;
}

.text-box .formatting button:hover {
    background-color: #f1f1f1;
}

.text-box .formatting .send {
    width: 30px;
    height: 30px;
    background-color: #0a84ff;
    margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
    background-color: #026eda;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.analysis-button-container{
    width: 100%;
    display: flex;
    height: 17%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.analysis-button{
    width: 70%;
    height: 40px;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #00467F;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}
.analysis-button-color{
    color: #ffffff;
}
.analysis-button-background-color{
    background-color: #00467F;
}
.analysis-button-color:hover{
    color: #00467F;
}
.analysis-button-background-color:hover{
    background-color: #ffffff;
}
@media (max-width: 887px) {
    .drop-show-metadata-container{
        flex-direction: column;
        align-items: center; /* 为了让子元素在容器中居中 */
        height: auto;  /* 允许高度自动扩展 */
    }
    .drop-box-container,
    .show-metadata {
        width: 80%;
        height: auto;
        margin-top: 30px;
    }
}


.bottom-navigation-bar{
    width: 100%;
    height: 80px;
    background: #333333 ;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    position: relative;
}
.connect-container{
    height: 60%;
    width: 500px;
    background: #404040;
    position: absolute;
    top: -30%;
    display: inline-block;
    right: 0;
    z-index: 1;
}
.accessibility-container{
    height: 50%;
    bottom: 0;
    background:#333333;
    position: absolute;
    width: 100%;
}
.connect-table th, .connect-table td {
    padding: 8px;
    text-align: center;
}

.connect-table th:first-child, .connect-table td:first-child {
    width: 30%;
}

.connect-table th:not(:first-child), .connect-table td:not(:first-child) {
    width: 16%;
}
.accessibility{
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
}
.site-link1,
.site-link,
.disclaimer-text {
    margin: 0 10px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 3px;
    opacity: 0.7;
}

.site-link1:hover, .disclaimer-text:hover{
    border-bottom: 1px solid #ffffff;
}