body{
    margin: 0;
    padding: 0;
}
.centered-div {
    width: 45%;
    position: absolute;
    left: 35%;
    top: 0;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 30%;
    max-width: 150px;
    height:80%;
    background: #00467F;
    margin-right: 0;
    clip-path: polygon(14% 0, 100% 0, 100% 83%, 86% 100%, 0 100%, 0 16%);
    min-width: 100px;
}
.title{
    width: 60%;
    height: 80%;
    margin-left: 5%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 30px;
    font-weight: bolder;
    color: #333333;
    min-width: 180px;
    white-space: nowrap;
}

.accordion {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-color: #00467F;
    border-radius: 41px;
    border-style: solid;
    border-width: 10px;
}

.accordion-select {
    display: none;
}

.separator {
    margin: 0;
    border: none;
    border-bottom: 3px solid #eaeaea;
}

.accordion-title {
    position: relative;
    background-color: #ffffff;
    color: #7f8787;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.accordion-title span {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    flex-grow: 1;

}
.accordion-content {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: #f7f7f7;
    color: #7f8787;
    height: 0;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 42px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    display: flex;
    justify-content: space-between; /* push form and button apart */
    align-items: center;

}

.reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 90%;
    margin-left: 10%;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    /*color: #2d79f3;*/
}
.form-group label,
.form-group input {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-align-show-password {
    margin-top: 8px;
    margin-left: calc(100% - 50px);  /* Offset to align checkbox with input field */
}

.checkbox-align {
    margin-top: 8px;
}
.checkbox-align label{
    font-weight: normal;
}
.checkbox-below {
    margin-top: 10px;
    margin-left: 50%;
}
.form-submit {
    position: absolute;
    top: 50%;  /* Position at 50% from top */
    left:  85%;  /* Position at 0% from right */
    transform: translateY(-50%);
}

.submit-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.submit-button {
    --primary-color: #c84747;
    --hovered-color: black;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.submit-button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.submit-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.submit-button::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.submit-button:hover::after {
    width: 100%;
}

.submit-button:hover p::before {
    width: 100%;
}

.submit-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.submit-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

.accordion-select:checked + .accordion-title + .separator + .accordion-content {
    height: 280px;
    padding: 42px;
}

.accordion-title label {
    width: auto;
    height: 30px;
    text-align: center;
    justify-items: center;
    min-width: 150px;
    margin-left: 10px;
}


.expand-button {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 0.95rem;
    border: 5px solid #00467F;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
}

.expand-button-color {
    color: #ffffff;
}

.expand-button-background-color {
    background-color: #00467F;
}

.expand-button-color:hover {
    color: #00467F;
}

.expand-button-background-color:hover {
    background-color: #ffffff;
}
.wrong-prompt{
    color: #C4362E;
    text-align: center;
    font-size: 15px;
    display: none;
}
.content2-container {
    width: 100%;
    height: 130%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.progress-bar-container{
    display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 90%;
    background: #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: bolder;
    color: #00467F;
    max-width: 300px;
}

#progress-bar1 {
    background-color: #009AC7;
    color: #ffffff;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0% 50%);
}
#progress-bar2 {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}
#progress-bar3 {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}
#progress-bar4 {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
}
.progress-bar.active {
    background-color: #009AC7;
    color: #ffffff;
}
.content2-prompt{
    height: 15%;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    color: #C4362E;
    visibility: hidden;
}
.content2-input-container{
    height: 55%;
    position: relative;

}
.hidden {
    display: none !important;
    position: absolute;
    height: 100%;
    width: 100%;
}
#reset-page1{
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    height: 100%;
}
.centered-content {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    color: #212121;
}

#reset-email-input{
    width: 100%;
    box-sizing: border-box;
    height: 30%;
}
#reset-page2{
    overflow: auto;
}
#reset-page2 p{
    text-align: center;
    padding: 10px;
    line-height: 25px;
}
#reset-page3{
    height: 100%;
    overflow: auto;
}
.reset-page3-title {
    background-color: #ddd;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reset-page3-email {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
    color: #2d79f3;
}

.verify-code-container {
    height: 40%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.verify-code-container input[type="tel"] {
    width: 15%;
    height: 90%;
    max-width: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 2%;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color:  #000000;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
    background-color: #ffffff;
}
.verify-code-container input:focus {
    border: 1px solid #2e2e2e;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .15);
    transform: scale(1.05);
    transition: 0.5s;
}
#reset-page4 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#reset-page4 div {
    margin: 20px;
    font-size: 1.2rem;
}
#reset-page4 input[type="password"] {
    width: 300px; /* 设置输入框的宽度 */
    padding: 10px;
    font-size: 16px;
}

.next-button{
    margin-top: 2.5%;
    height: 10%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 10rem;
}


.next-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 2rem;
    background: #282936;
    border-radius: 1.625rem;
}

.next-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.next-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.next-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.next-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.3rem 0;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.next-button:hover .circle {
    width: 100%;
}
.next-button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
.next-button:hover .button-text {
    color: #fff;
}